<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/css/side-bar.css">
  <title>Login Page</title>
</head>
<body>
  <div class="container">
    <div class="inbox-container">
        <div class="header">
            <%- include('../layouts/header.ejs'); -%>
        </div>
        <div class="main-content">
            <div class="bar-content">
                <div class="left-bar">
                   <%- include('../layouts/side-bar.ejs'); -%>
                </div>
            </div>
            <div class="body-content">
                 <main>
                    <% if (page === 'inbox') { %>
                        <%- include('../main-view/inbox.ejs') -%>
                      <% } else if (page === 'outbox') { %>
                        <%- include('../main-view/outbox.ejs') -%>
                      <% } else if(page === 'compose') { %>
                        <%- include('../main-view/compose.ejs') -%>
                      <% } else if(page === 'email-detail') { %>
                        <%- include('../main-view/email-detail.ejs') -%>
                      <% }else { %>
                        <h2>Not found</h2>
                      <% } %>
                 </main>
            </div>
        </div>
    </div>
  </div>
</body>
</html>
